services:
  wishlist-bot:
    build:
      context: .
    image: 10.0.14.15:5000/wishlist-bot:1.0.1
    container_name: wishlist-bot
    ports:
      - "8080:8080"
    restart: unless-stopped

  postgres:
    image: postgres:latest
    container_name: postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: wishlist
      POSTGRES_DB: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data/pgdata
    restart: unless-stopped